# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Bin/
Builds/
UnityGenerated/
UserSettings/
Library/
Assets/AssetStoreTools*
App/
UWP/
project.json
project.lock.json

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.ipch
*.opensdf
*.sdf
*.tlog
*.log
*.idb
*.opendb
/PenelopeMobile/UserSettings/Layouts/default-2022.dwlt
/PenelopeMobile/QCAR/somedata16
/PenelopeMobile/UserSettings/AndroidLogcatSettings.asset

.DS_Store
app_ios/
